<%= form_for(@events_staff, remote: true) do |f| %>
  <% if @events_staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@events_staff.errors.count, "error") %> prohibited this events_staff from being saved:</h2>

      <ul>
      <% @events_staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.text_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :staff_id %><br>
    <%= f.text_field :staff_id %>
  </div>
  <div class="field">
    <%= f.label :staff_qr_code %><br>
    <%= f.text_field :staff_qr_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
